<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
	
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" href="#">Mongo Scraper</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">

			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Saved</a>
			</li>

			<button class="btn btn-success nav-link scrape-new" type="submit">SCRAPE NEW ARTICLES!</button>
		
		</ul>

	</div>

</nav>

<div class="jumbotron jumbotron-fluid">

	<div class="container jumbo-image">

		<h1 class="display-3">Mongo Scraper</h1>

		<p class="lead">New York Times Edition</p>

	</div>

</div>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3><a class="article-link" target="_blank" href="">Panel title</a></h3>
		<a class="btn btn-success save">Save Article</a>
	</div>

	<div class="panel-body">
		<p class="panel-content">Panel content</p>
	</div>

</div>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3><a class="article-link" target="_blank" href="">Panel title</a></h3>
		<a class="btn btn-success save">Save Article</a>
	</div>

	<div class="panel-body">
		<p class="panel-content">Panel content</p>
	</div>
	
</div>