html {
	font-size: 18px;
}

#bodyinput {
    width: 50%;
}

.navbar {
    background-color: #700741;
    margin: 0 auto;
    padding: none;
}

.nav-link {
    color: white;
}

.jumbotron {
    background-image: url('../images/jumbotron.jpeg');
    height: 600px;
    margin: 0 auto;
}

.display-3 {
    color: white !important;
}

.lead {
    color: white;
}

.panel-heading.row {
	background-color: #700741; 
}

.panel-primary {
    /*height: 135px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
